.chat-container {
  font-family: sans-serif;
  height: calc(100vh - 64px);
  display: flex;
}


.chat-container .main {
  height: 100%;
  flex-grow: 1;
}

.chat-container .conversation-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main .conversation-title {
  height: 64px;
  text-align: center;
  font-size: 19px;
  line-height: 64px;
  color: #333;
  border-bottom: 1px solid #dbdbdb;
}

.chat-container .conversation-detail .list-message {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

#sendMessageForm {
  height: 64px;
  line-height: 64px;
  border-top: 1px solid #dbdbdb;
  display: flex;
}

#sendMessageForm input {
  border: none;
  flex-grow: 1;
  padding-left: 20px;
  outline: 0;
}

#sendMessageForm button {
  background: none;
  border: none;
  color: #1c75f2;
  font-size: 24px;
}

.chat-container .list-message .content {
  max-width: 40%;
  border-radius: 10px;
  padding: 10px;
  color: #333;
  word-break: break-word;
  width: max-content;

}

.chat-container .list-message .message.their .owner {
  color: #333;
}

.chat-container .list-message .message.their .content {
  background: #dbdbdb;
}

.chat-container .list-message .message.mine .content {
  background: #037bfe;
  color: #f8f8f8;
  margin-bottom: 10px;
}

.chat-container .list-message .message.mine {
  display: flex;
  justify-content: flex-end;
}

.chat-container .aside-left {
  border-right: 1px solid #dbdbdb;
  font-size: 14px;
  width: 15%;
  height: 100%;
}

.chat-container .conversation {
  padding: 10px;
  /* padding-bottom: 0; */
}

.chat-container .conversation.current {
  background: #dbdbdb;
}

.chat-container .aside-left .new-conversation {
  height: 64px;
  border-bottom: 1px solid #dbdbdb;
  line-height: 64px;
  text-align: center;
}


.chat-container .aside-right {
  border-left: 1px solid #dbdbdb;
  font-size: 14px;
  width: 15%;
}

.chat-container .email {
  padding: 5px 10px;
  padding-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

#add-user-form {
  padding: 10px;
}

.conversation-notify {
  width: 15px;
    height: 15px;
    background: #1c75f2;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 20px;
    display: none;
}

.chat-container .list-conversations .conversation {
  position: relative;
}

@media screen and (max-width: 768px) {
  .chat-container .aside-right {
    display: none;
  }

  .chat-container .aside-left .conversation-num-users{
    display: none;
  }

  .chat-container .aside-left .conversation {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    line-height: 64px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
  }

  .chat-container .aside-left .conversation-notify {
    top: 38%;
    right: 5px;
  }
  .chat-container .aside-left {
    width: 70px;
  }
}